* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a {
    color: var(--text-color);
}

header {
    background: var(--header);
    height: 9.6rem;
}

.navigation {
    width: 1200px;
    height: 6.5rem;
    margin: auto;
    display: flex;
    justify-content :space-between;
    align-items: center;
}

.logo {
    font: 700 2.24rem "Poppins", sans-serif;
    color: var(--text-color);
    width: 15rem;
    height: 1.9rem;
    display: flex; align-items: center;
}

.search {
    width: 28rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    border-radius: 0.3rem;
    background: #EFEFEF;
}

.barra {
    font: 400 'PT Sans Caption';
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    outline: none;       
}


.heart {width: 2,5rem; height: 2,5rem;}
.car {
    display: flex;
    align-items: center;
    width: 8rem;}
.login {display: flex;align-items: center; width: 7.25rem;}


img {
    height: 2rem;
    width: 2rem;
}


.icon {
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
li {
    color: var(--text-color);
    list-style-type: none; /*tira modelos, no caso a bolinha*/
}

body {
    font-size: 100%; /*sempre fazer*/
    font: 400 1rem 'DM Sans', sans-serif;
    color: var(--text-color);
    background: var(--body-color);
}

.categorias {
    height: 2.5rem;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
summary {
    list-style: none;
    cursor: pointer;
    text-decoration: underline;
}
summary::after {
    content: url(img/Group\ 21.png);
}
.categoria {
    font: 700 1rem 'PT Sans Caption';
    width: 55rem;
    display: flex;
    justify-content: space-between;
}
details {
    font: 700 1.2rem 'PT Sans Caption';

}

.banner {
    height: 14.5rem;
    width: 1200px;
    margin: auto;
    background-image: url(img/Group\ 16.png);
    background-repeat: none;
    background-size: cover;
}
.image {
    height: 14rem;
    width: 100%;
}
.n {
    color: #f92727;
}

/*=========================== Variable ======================*/
:root{
    --background: #3049bb;
    --text-color: #ffffff;
    --body-color: #303030;
    --header: #04346B;
}